@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" id="txtCategoryName" class="form-control col-md-6" />
                <button id="btnInsert" class="btn btn-primary col-md-2">Save</button>
            </div>
        </div>
    </div>

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
@*@Html.Action("DemoPartialView", "Home")*@
<div id="DemoPartialViewData"></div>
<script>
    $(document).ready(function () {
        loadPartialView();
        $("#btnInsert").click(function () {
            CategoryInsertUpdate();
        });
    });

    function loadPartialView() {
        //var param = {
        //    id: id
        //};

        $.ajax({
            type: 'GET',
            url: "/Home/DemoPartialView",
            data: {},
            dataType: "html",
            success: function (da_ta) {
                $("#DemoPartialViewData").html("");
                $("#DemoPartialViewData").html(da_ta);
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });
    }

    function CategoryInsertUpdate() {
        var param = {
            CategoryId: 0,
            CategoryName: $("#txtCategoryName").val(),
            CategoryDescription: "def",
            CategoryType: 1,
            IsUpdateImage: 0
        };

        $.ajax({
            type: 'POST',
            url: "/Home/CategoryInsertUpdate",
            data: param,
            dataType: "json",
            success: function (da_ta) {
                alert(da_ta.mes)
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });
    }
</script>